.primary{
    display: flex;
    flex-direction: row;
}

.secondary{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: flex-start;
}

.principal{
    padding: 3px;
    position: absolute;
    display: grid;
    width: 100%;
    margin-top: 70px;
}

.header-aberto{
    margin-left: 295px;
}

.header-fechado{
    margin-left: 0px;
}

.resumo-cadastral{
    width: 100%;
}

.options-tela-inicio{
    width: 100%;
}

