<div class="principal">
    <div class="title">Enviar para</div>
    <select class="form-select" aria-label="Default select example">
        <option selected>Selecione o setor de envio</option>
        <option value="1">Riscos</option>
        <option value="2">Backoffice</option>
    </select>
    <input class="form-control input-cpf" type="text" placeholder="Descrição do motivo do envio" aria-label="default input example">
    <button class="btn btn-primary enviar" type="button">Enviar</button>
</div>

