<div class="principal">
    <div class="option">
        <img src="../../../assets/img/consultar-cliente.png">
        <span class="opcao" >Consultar cliente</span>
    </div>
    <div class="option">
        <img src="../../../assets/img/cliente-bloqueado.png">
        <span class="opcao">Clientes bloqueados</span>
    </div>
    <div class="option">
        <img src="../../../assets/img/cliente-restricao.png">
        <span class="opcao">Clientes com restrição</span>
    </div>
    <div class="option">
        <img src="../../../assets/img/ligar.png">
        <span class="opcao">Me liga</span>
    </div>
    <div class="option">
        <img src="../../../assets/img/cartão.png">
        <span class="opcao">Consultar cartão</span>
    </div>
    <div class="option">
        <img src="../../../assets/img/celular.png">
        <span class="opcao">Consultar dispositivo</span>
    </div>
    <div class="option">
        <img src="../../../assets/img/derivacao-crivo.png">
        <span class="opcao">Derivação Crivo</span>
    </div>
    <div class="option">
        <img src="../../../assets/img/pessoa.png">
        <span class="opcao">Derivação BrScan (RG)</span>
    </div>
    <div class="option">
        <img src="../../../assets/img/dinheiro.png">
        <span class="opcao">Solicitação de CAP (Backoffice)</span>
    </div>
    <div class="option">
        <img src="../../../assets/img/dinheiro.png">
        <span class="opcao">Solicitação de CAP (Riscos)</span>
    </div>
    <div class="option">
        <img src="../../../assets/img/em-breve.png">
        <span class="opcao">Em breve...</span>
    </div>
    <div class="option">
        <img src="../../../assets/img/em-breve.png">
        <span class="opcao">Em breve...</span>
    </div>
    <div class="option">
        <img src="../../../assets/img/em-breve.png">
        <span class="opcao">Em breve...</span>
    </div>
    <div class="option">
        <img src="../../../assets/img/em-breve.png">
        <span class="opcao">Em breve...</span>
    </div>
    <div class="option">
        <img src="../../../assets/img/em-breve.png">
        <span class="opcao">Em breve...</span>
    </div>
    <div class="option">
        <img src="../../../assets/img/em-breve.png">
        <span class="opcao">Em breve...</span>
    </div>
    <div class="option">
        <img src="../../../assets/img/em-breve.png">
        <span class="opcao">Em breve...</span>
    </div>
    <div class="option">
        <img src="../../../assets/img/em-breve.png">
        <span class="opcao">Em breve...</span>
    </div>
    <div class="option">
        <img src="../../../assets/img/em-breve.png">
        <span class="opcao">Em breve...</span>
    </div>
    <div class="option">
        <img src="../../../assets/img/em-breve.png">
        <span class="opcao">Em breve...</span>
    </div>
    <div class="option">
        <img src="../../../assets/img/em-breve.png">
        <span class="opcao">Em breve...</span>
    </div>
    <div class="option">
        <img src="../../../assets/img/em-breve.png">
        <span class="opcao">Em breve...</span>
    </div>
    <div class="option">
        <img src="../../../assets/img/em-breve.png">
        <span class="opcao">Em breve...</span>
    </div>
    <div class="option">
        <img src="../../../assets/img/em-breve.png">
        <span class="opcao">Em breve...</span>
    </div>
    <div class="option">
        <img src="../../../assets/img/em-breve.png">
        <span class="opcao">Em breve...</span>
    </div>
    <div class="option">
        <img src="../../../assets/img/em-breve.png">
        <span class="opcao">Em breve...</span>
    </div>
    <div class="option">
        <img src="../../../assets/img/em-breve.png">
        <span class="opcao">Em breve...</span>
    </div>
    <div class="option">
        <img src="../../../assets/img/sair.png">
        <span class="opcao">Sair</span>
    </div>
</div>