.principal{
    display: flex;
    flex-direction: column;
    color: rgba(0, 0, 0, 0.87);
    background-color: white;
    padding: 10px;
    border-radius: 4px;
    margin: 5px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.144);
}

.secondary{
    display: flex;
    justify-content: space-around;
    color: rgba(0, 0, 0, .38);
    font-size: 14px;
    font-weight: 500;
    border-bottom: 2px solid rgba(128, 128, 128, 0.24);
}

.item-lista{
    margin-left: 30px;
    padding-bottom: 10px;
}

.item-lista:hover{
    border-bottom: 2px solid blue;
    color: rgba(0, 0, 0, 0.87);
    transition: 0.1s;
}