<div class="subtitle">Conta digital</div>
<div class="primary">
    <div>
        <div class="title-item">Cadastro iniciado em</div>
        <div class="result-item">{{ telaInicioService.clienteConsultado[0].cadastroIniciadoEm }}</div>
    </div>
    <div>
        <div class="title-item">Agência</div>
        <div class="result-item">{{ telaInicioService.clienteConsultado[0].agencia }}</div>
    </div>
    <div>
        <div class="title-item">Conta corrente</div>
        <div class="result-item">{{ telaInicioService.clienteConsultado[0].conta }}</div>
    </div>
</div>
<div class="secondary">
    <div class="title-item">Cadastro criado em</div>
    <div class="result-item">{{ telaInicioService.clienteConsultado[0].cadastroCriadoEm }}</div>
</div>