<div class="a">
<div class="principal">
    <div class="title">
        Backoffice Wallet
        <img src="../../assets/img/angular.png" alt="">
    </div>
    
    <div class="subtitle">
        Plataforma para consultas de clientes
    </div>
    <hr>
    <div class="primary">
        <input class="form-control input-usuario" type="text" placeholder="Digite seu usuário" aria-label="default input example">
        <input class="form-control input-usuario last" type="password" placeholder="Digite a sua senha" aria-label="default input example">
        <div class="button">
            <div class="img">
                <img src="../../assets/img/cadeado.png" alt="">
            </div>
            <div>
                <button class="pesquisar" type="button">Entrar</button>
            </div>
        </div>
    </div>
</div>
</div>