<div class="principal">
    <div class="title">
        Resumo cadastral
    </div>
    <div class="secondary">
    <div class="primeira-coluna">
        <div class="subtitle">Resumo</div>
        <div class="lista">
            <span class="legenda-green"></span>
            <div class="item-lista">CONTA CRIADA</div>
        </div>
        <div class="lista">
            <span class="legenda-green"></span>
            <div class="item-lista">CRIVO</div>
        </div>
        <div class="lista">
            <span class="legenda-green"></span>
            <div class="item-lista">DOCUMENTAÇÃO DISPOSITIVO ANTERIOR (IDWALL)</div>
        </div>
        <div class="lista">
            <span class="legenda-yellow"></span>
            <div class="item-lista">DOCUMENTAÇÃO DISPOSITIVO ATUAL (IDWALL)</div>
        </div>
    </div>
    <div class="segunda-coluna">
        <div class="subtitle">Marcas de fraude</div>
        <div class="lista">
            <span class="legenda-green"></span>
            <div class="item-lista">CONTA CRIADA</div>
        </div>
        <div class="subtitle">PLD</div>
        <div class="lista">
            <span class="legenda-gray"></span>
            <div class="item-lista">DOCUMENTAÇÃO DISPOSITIVO ATUAL (IDWALL)</div>
        </div>
    </div>
    <div class="terceira-coluna">
        <button class="btn btn-primary ver-legenda" type="button">VER LEGENDA</button>
    </div>
</div>
</div>