<div class="subtitle">Dados pessoais</div>
<form [formGroup]="formulario" novalidate (ngSubmit)="confirmar()">
    <div class="primary">
        <div>
            <label class="title-item">ID</label>
            <label class="form-control result-item">{{ clienteConsultado.id }}</label>
        </div>
        <div class="nome-completo result-item-black">
            <label class="title-item" for="floatingInput">Nome completo</label>
            <input formControlName="nomeCompleto" class="form-control result-item" aria-describedby="emailHelp" placeholder="Digite o seu nome completo">
            <small class="form-text text-muted " *ngIf="isFalse">We'll never share your email with anyone else.</small>
        </div>
    </div>
    <div class="primary result-item-black">
        <div>
            <label class="title-item">CPF</label>
            <input formControlName="cpf" class="form-control result-item" aria-describedby="emailHelp" placeholder="Digite o seu CPF">
            <small class="form-text text-muted" *ngIf="isFalse">We'll never share your email with anyone else.</small>
        </div>
        <div>
            <label class="title-item">Data de nascimento</label>
            <label class="form-control result-item">{{clienteConsultado.dataDeNascimento }}</label>
        </div>
        <div>
            <label class="title-item">Nome da mãe</label>
            <input formControlName="nomeDaMae" class="form-control result-item" aria-describedby="emailHelp" placeholder="Digite o nome da sua mãe">
            <small class="form-text text-muted" *ngIf="isFalse">We'll never share your email with anyone else.</small>
        </div>
    </div>
    <div class="primary">
        <div class="email result-item-black">
            <label class="title-item">Email</label>
            <input formControlName="email" class="form-control result-item" aria-describedby="emailHelp" placeholder="Digite o seu email">
            <small class="form-text text-muted" *ngIf="isFalse">We'll never share your email with anyone else.</small>
        </div>
    </div>
    <div class="subtitle">Endereço</div>
    <div class="primary">
        <div class="email result-item-black">
            <label class="title-item">CEP</label>
            <input formControlName="cep" class="form-control result-item" aria-describedby="emailHelp" placeholder="Digite o seu CEP">
            <small class="form-text text-muted" *ngIf="isFalse">We'll never share your email with anyone else.</small>
        </div>
    </div>
    <div class="primary result-item-black">
        <div>
            <label class="title-item">Logradouro</label>
            <input formControlName="logradouro" class="form-control result-item" aria-describedby="emailHelp" placeholder="Digite o seu Logradouro">
            <small class="form-text text-muted" *ngIf="isFalse">We'll never share your email with anyone else.</small>
        </div>
        <div>
            <label class="title-item">Número</label>
            <input formControlName="numero" class="form-control result-item" aria-describedby="emailHelp" placeholder="Digite o seu Número">
            <small class="form-text text-muted" *ngIf="isFalse">We'll never share your email with anyone else.</small>
        </div>
        <div>
            <label class="title-item">Complemento</label>
            <input formControlName="complemento" class="form-control result-item" aria-describedby="emailHelp" placeholder="Digite o seu Complemento">
            <small class="form-text text-muted" *ngIf="isFalse">We'll never share your email with anyone else.</small>
        </div>
    </div>
    <div class="primary result-item-black">
        <div>
            <label class="title-item">Bairro</label>
            <input formControlName="bairro" class="form-control result-item" aria-describedby="emailHelp" placeholder="Digite o nome do seu Bairro">
            <small class="form-text text-muted" *ngIf="isFalse">We'll never share your email with anyone else.</small>
        </div>
        <div>
            <label class="title-item">Cidade</label>
            <input formControlName="cidade" class="form-control result-item" aria-describedby="emailHelp" placeholder="Digite o nome da sua Cidade">
            <small class="form-text text-muted" *ngIf="isFalse">We'll never share your email with anyone else.</small>
        </div>
        <div>
            <label class="title-item">Estado</label>
            <input formControlName="estado" class="form-control result-item" aria-describedby="emailHelp" placeholder="Digite o seu Estado">
            <small class="form-text text-muted" *ngIf="isFalse">We'll never share your email with anyone else.</small>
        </div>
    </div>
    <button type="submit"></button>
</form>
