<div class="a">
<div class="principal">
    <div class="title">
        Consultar cliente
    </div>
    <div class="primary">
        <div class="form-check form-item">
            <input class="form-check-input" (click)="click(1)" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
            <label class="form-check-label item-label" for="flexRadioDefault1">
            CPF
            </label>
        </div>
        <div class="form-check form-item">
            <input class="form-check-input" (click)="click(2)" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
            <label class="form-check-label item-label" for="flexRadioDefault2">
            Agência/Conta
            </label>
        </div>
        <div class="form-check form-item">
            <input class="form-check-input" (click)="click(3)" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
            <label class="form-check-label item-label" for="flexRadioDefault2">
            Celular
            </label>
        </div>
        <div class="form-check last-item">
            <input class="form-check-input" (click)="click(4)" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
            <label class="form-check-label item-label" for="flexRadioDefault2">
            userId
            </label>
        </div>
    </div>
    <div class="secondary">
        <input class="form-control input-cpf" type="text" placeholder="Digite o(a) seu {{opcaoSelecionada}}" [(ngModel)]="valorDigitado" aria-label="default input example">
        <button class="btn btn-primary pesquisar" type="button" (click)="pesquisar()">PESQUISAR</button>
    </div>
</div>
</div>
